
<section id="Footer">

  <footer class="footer">
      <div class="footer_container">
          <div class="row1">
              <div class="footer-col">
                  <ul>
                      <li><b>Company</b></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Newsroom</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <ul>
                      <li><b>Support</b></li>
                      <li><a href="#">Help Centre</a></li>
                      <li><a href="#">Faire Markets</a></li>
                      <li><a href="#">Sell on Faire </a></li>
                  </ul>
              </div>
              <div class="footer-col">
                <!-- <h4>get help</h4> -->
                <ul>
                    <li><b> Conect</b></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
           
             
              
          </div>

          <div class="row2">

            <!-- <p>Get the faire app</p> -->

            <h5>Get the Faire app</h5>
            <p>Shop on the go, message brands and track <br> orders with the fair app</p>

            <!-- <i class="fa fa-apple"></i> -->
            <!-- <i class="fa-brands fa-apple"></i> -->

            <button class="foobtn"> <p>Download on the</p>  <h5> App Store</h5></button>
            <button class="foobtn"> <p>Get it on</p> <h5>Google Play </h5></button>

          </div>
      </div>

  </footer>


  <div class="bottom">
    <div class="bottom_container">
      <p>©2024 Faire Wholesale, Inc.</p>
      <p>Terms of Service • Privacy Policy • Cookie policy • IP policy • Sitemap</p>
    </div>
  </div>



</section>