

<div class="carousal_card">

  <div class="card" style="width: 12rem; height: 16rem;">
    <div id="carouselExampleIndicators" class="carousel slide">
      <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div> -->
      <div class="carousel-inner carousal_container ">
        <div class="carousel-item active">
          <img src="https://cdn.faire.com/fastly/cb330f1a51fde7e28aff43a66ce0bf991c6f89ecde8a0c1e0bffcd697fb72f2d.png?bg-color=FFFFFF&dpr=1&fit=crop&format=jpg&height=720&precrop=1:1,smart&width=720" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.faire.com/fastly/06814dc743e85469459b8aa6335cfc7d3d131992aec0f10f89ee5a185ece7666.jpeg?bg-color=FFFFFF&dpr=1&fit=crop&format=jpg&height=720&precrop=1:1,smart&width=720" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.faire.com/fastly/2a80434d2907f359a4b4975605778f73cc67c61345bb30460e43558cd2a1bc4d.jpeg?bg-color=FFFFFF&dpr=1&fit=crop&format=jpg&height=720&precrop=1:1,smart&width=720" class="d-block w-100" alt="3">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    
  
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
    </div>
  
    <div class="card-body">
      <p class="card_title">Mad Beauty</p>
      <div class="ratings ">
        <i class="bi bi-star-fill"></i>
        <p> 4.5 </p>
      </div>
    </div>
  </div>

</div>

