<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="header">
  <nav>
    <div class="navbar_container">
      <div class="logo">
        <!-- <p>FAIRE</p> -->
        <img src="https://cdn.faire.com/static/logo.svg" alt="">
      </div>

      <div class="search_container">
        <form>
          <input type="search" placeholder="Search products or brands" name="search">
        </form>
      </div>

      <div class="dropdown">
        <button class="dropbtn"><i class="bi bi-globe2"></i>EN-US</button>
        <div class="dropdown-content">
          <a href="#">English (US)</a>
          <a href="#">English (UK)</a>
          <a href="#">Francais</a>
          <a href="#">Deutsch</a>
          <a href="#">Italiano</a>
          <a href="#">Espanol</a>
          <a href="#">Nederlands</a>
          <a href="#">Portugues</a>
          <a href="#">Svenska</a>
          <a href="#">Dansk</a>
        </div>
      </div>

      <div class="vertical_line">

      </div>


      <div class="menu">
        <ul class="menu-items">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Sell on Faire</a></li>
          <li><a href="#">Sign in</a></li>
          <button class="SignUpBtn">Sign up to shop</button>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section>
  <div class="nav2">
    <div class="menu2">
      <ul class="menu-items">
        <li><a href="#">Featured</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Home decor</a></li>
        <li><a href="#">Food & drink</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Beauty & wellness</a></li>
        <li><a href="#">Jewelry</a></li>
        <li><a href="#">Paper & novelty</a></li>
        <li><a href="#">Kids & baby</a></li>
        <li><a href="#">Pets</a></li>
        <li><a href="#">Men</a></li>
        <!-- <button class="SignUpBtn">Sign up to shop</button> -->
      </ul>
    </div>
  </div>
</section>

<!-- <app-main></app-main> -->

<!-- <app-carousal></app-carousal> -->

<app-card></app-card>

<app-main></app-main>

<app-footer></app-footer>