<!-- <p>main works!</p> -->



<div class="Main">
    <div class="main_container">
        <!-- <div class="title">
            <h4 >Keep Exploring</h4>
            <h6>All brands</h6>
        </div> -->

        <div class="carousal_box">
            <section class="pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-3"> </h3>
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
            
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://cdn.faire.com/fastly/2713dfe3e844999b6e152438381abec12a2974c84b9ded0f08819ff869bf4a72.jpeg?dpr=1.5&fit=crop&format=jpg&height=400&width=300">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Shop paper & novelty</h4>
            
                                                    </div>
            
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://cdn.faire.com/fastly/749ffe09238499ddd51da5399555e1a3e14c757e1b06e3829306ae36dbb1df2d.jpeg?dpr=1.5&fit=crop&format=jpg&height=400&width=300">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Eco-Friendly brands</h4>
                                     
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://cdn.faire.com/fastly/4e1184f7c9c7a3da4c682abafdd856d7f824b5788b47617914a1d1fd358019f9.jpeg?dpr=1.5&fit=crop&format=jpg&height=400&width=300">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Shop home decor</h4>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
            
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
                                                    </div>
            
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
            
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
                                                    </div>
            
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="card">
                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
     
    </div>
</div>



<section>
    <div class="box2">
        <h3>You nay be wondering </h3>
        <hr>
        <h5> How can I buy All European brands products at wholesale prices for my store?</h5>
        <hr>
        <h5>How do I find different All European brands brands that sell wholesale to retailers like me?</h5>
    </div>
</section>

<section>
    <div class="box3">
        <h2>Ready to start buying <br> wholesale online?</h2>
        <h6>60 day payment return</h6>
        <h6>Free returns on all opening orders</h6>
        <h6>Unique products curated for your store</h6>
        <button class="SignUpBtn">Sign up to shop</button>
    </div>
</section>

<section>
    <div class="box4">
        <p> Discover products for your store on the Faire wholesale marketplace</p>

        <p> At Faire, we're empowering small business owners and independent brands to buy and sell wholesale goods online. 
        If you're a retailer shopping for wholesale products, Faire offers you straight-forward financial terms and logistics 
        that were previously only available to large retail chains. We also provide powerful sales, marketing, and analytics tools 
        for brands, so sellers can simplify their wholesale businesses and expand their reach of independent shop owners.</p>
    </div>
</section>